* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573a37;
  
}

body {
  background-image: url(./assets/bg-image.png);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}


h1 {
  line-height: 140%;
  font-size: 40px;
  color: #2c1e1d;
}

h2, h3 {
  line-height: 150%;
  color: #291B1A;
  font-size: 24px;
  margin-bottom: 4px;
}

p {
  font-size: 16px;
  color: #573824;
}

ul {
  padding-left: 24px;
}

footer {
  color: #573824;
  text-align: center;
  align-items: center;
  padding-bottom: 48px;
  font-size: 16px;
}

footer img {
  color: #b1622e;
}

